@model IEnumerable<AgenciaPruebaMVC.Models.PersonaModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("AddorEdit","Persona")" class="btn btn-default"><i class="fa fa-plus"> </i> Create New</a>
</p>

<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Persona", new { id = item.Cedula})" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                <a onclick="Delete(@item.Cedula)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

</table>



@section scripts{
    <script>
        $(function (){
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '') {
                alertify.success(successMessage);
            }
        });

        function Delete(id){
            alertify.confirm('Web  Api CRUD Operations', 'Are you sure you want to delete?', function () { window.location.href = '@Url.Action("Delete", "Persona")/' + id; }, null)
        }
    </script>
}